body {
    background-color: #2F2F2F;
}

.main-content {
    background-color: #FFFFFF;
    width: 1024px;
    height: 768px;
    border-radius:6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    background-color: #3F3F3F;
    border-radius:6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lobby, .game {
    display: none;
    background-color: #FFFFFF;
    width: 1024px;
    height: 768px;
    border-radius:6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clickable {
    cursor: pointer;
}

.clickable > td {
    padding-left: 15px !important;
}

tr {
    width: 100%;
    display: inline-table;
    height:60px;
    table-layout: fixed;
}

thead {
    position: absolute;
}

tbody{
    overflow-y: scroll;
    top: 60px;
    height: 80%;
    width: 100%;
    position: absolute;
}

.player-head {

}

.head-circle {
    position: relative;
    width: 25px;
    float: left;
    height: 25px;
    border-radius: 12.5px;
    font-size: 25px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    background: #000;
    z-index: 2;
}

.player-name {
    position: relative;
    float: left;
    margin-left: -25px;
    padding-left: 15px;
    width: 125px;
    height: 25px;
    border-radius: 12.5px;
    color: #000000;
    line-height: 25px;
    text-align: center;
    background: #FFFFFF;
    z-index: 1;
}

.players {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 100px;
}

.player-sm-1, .player-sm-2, .player-sm-3, .player-sm-4, .player-sm-5 {
    position: absolute;
    width: 120px;
    height: 80px;
    float: left;
}

.player-sm-1 {
    left: 0px;
    bottom: 100px;
}

.player-sm-2 {
    left: 0px;
}

.player-sm-3 {
    left: 50%;
    transform: translate(-50%, 0%);
}

.player-sm-4 {
    right:  0px;
}

.player-sm-5 {
    bottom: 100px;
    right: 0px;
}

.discard-pile {
    left: 45%;
}

.draw-pile {
    left: 60%;
}

.pile {
    position: absolute;
    padding: 5px;
    top: 50%;
    transform: translate(-50%, 50%);
}

.pile-card {
    position: relative;
    float: left;
    width: 25px;
    height: 45px;
    border: 1px solid #000000;
    margin-left: -20px;
    background-color: white;
}

.cards {
    position: relative;
    width: 120px;
    height: 70px;
    margin-left: 10px;
    padding: 5px;
}

.card-1, .card-2, .card-3, .card-4, .card-5 {
	position: relative;
    float: left;
    width: 25px;
    height: 45px;
    border: 1px solid #000000;
    margin-left: -4px;
    background-color: white;
}

.card-1 {
    transform: rotate(-20deg);
    margin-top: 7px;
    z-index: 5;
}

.card-2 {
    transform: rotate(-10deg);
    margin-top: 1px;
    z-index: 4;
}

.card-3 {
margin-top: -1px;
	z-index: 3;
}

.card-4 {
    transform: rotate(10deg);
    margin-top: 1px;
    z-index: 2;
}

.card-5 {
    transform: rotate(20deg);
    margin-top: 7px;
    z-index: 1;
}