<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="style.css"/>-->
    <title>Halt Mal Kurz</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
{% block scripts %}
<!--<script type="text/javascript" src="static/lib/jquery-3.2.1.min.lib"></script>-->
<!--<script type="text/javascript" src="static/lib/underscore-min.lib"></script>-->
<!--<script type="text/javascript" src="static/lib/backbone-min.lib"></script>-->
<!--<script type="text/javascript" src="static/lib/socket.io.lib"></script>-->
<script type="text/javascript" src="static/js/require.js"></script>

<script type="text/javascript" charset="utf-8">


require.config({
	baseUrl: "/static/js",
	paths: {
		jquery: "jquery-3.2.1.min",
		underscore: "underscore-min",
		backbone: "backbone-min",
		socketio: "socket.io",
	},
	shim: {
	    'socketio': {
          exports: 'io'
        },
        'underscore': {
            exports: '_'
        },
        'backbone': {
            deps: ['underscore', 'jquery'],
            exports: 'Backbone'
        }
    },
	urlArgs: "version=" +  (new Date()).getTime(),
	waitSeconds: 15
});

define('web', function( $, _, Backbone, io ) {

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    socket.on('response', function(data) {
        console.log(data.data.connected);
    });
});

</script>
{% endblock %}
</body>
</html>